/*
Description:  theme for Classes
Author:       J Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/


/*--------------------------------------------------------------
selector {
    layout(position)
   
    content(text)
   
    design(background)
   
    other(z-index)
}
----------------------------------------------------------------
>>> COLORS:  
----------------------------------------------------------------
:root {
  --color-variable: #ffffff;
}


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries


--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
    box-sizing: border-box;
}


body {
    margin: 0;
}


/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
nav ul {
    list-style-type: square; 
    color: rgb(40, 145, 95);
}


nav a {
    color: rgb(0,0,255);
}
nav a:visited {
	color: rgb(140,70,240);
}
nav a:hover {
	color: rgb(255,0,0);
}
nav a:active {
	color: rgb(0,255,0);
}


/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/
header {
    background-color: rgb(140,245,250); 
    padding: 20px; 
}


/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
main {
    width: calc(70% - 1px); 
    float: left; 
    padding: 1rem; 
    border-right: 1px solid #000;
}


/*--------------------------------------------------------------
# Aside Elements
--------------------------------------------------------------*/
aside {
    width: 30%; 
    float: right; 
}


/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
footer {
    background-color: rgb(141, 245, 248); 
    text-align: center; 
    clear: both; 
 
}


/*--------------------------------------------------------------
# Reusable Classes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/



