/*
Description:  theme for Classes
Author:       J Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/




selector {
	layout(position)
	body {
        margin: 0;
    }
	content(text)
	
	design(background)
	
	other(z-index)
}

>>> COLORS:	  

:root {
  --color-variable: #ffffff;
}



>>> TABLE OF CONTENTS:

# Universal
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries






# Universal

html * {
    box-sizing: border-box;
}

# General Elements




# Navigation

nav ul {
	list-style-type: square;
	color: rgb(40, 145, 95);
}

nav a {
	color: rgb(0,0,255);
}

nav a:active {
	color: rgb(0,255,0);
}

nav a:hover {
	color: rgb(255,0,0);
}

nav a:visited {
	color: rgb(140,70,240);
}

# Header Area

header {
	background-color: rgb(210, 133, 233);
	padding: 10px;
}


# Content Area

main {
	width: calc(80% - 10px)
}


# Footer Area




# Reusable Classes




# Other




# Templates




# Media Queries

